<p id="notice"><%= notice %></p>
<% provide(:title, "Winds") %>


<div class="container-fluid">
  <hr>
  <%= render 'search' %>
  <hr>
  <% provide(:panel_title, "Winds") %>
  <table class="table table-striped table-bordered">

  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Keywords</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @winds.each do |wind| %>
      <tr>
        <td><%= wind.title %></td>
        <td><%= type_title(wind.typeID) %></td>
        <td><%= wind.keywords %></td>
        <td><%= wind.description %></td>
        <td><%= link_to 'Show', wind %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>