<p id="notice"><%= notice %></p>

<p>
  <strong>Typeid:</strong>
  <%= @wind.typeID %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @wind.keywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wind.description %>
</p>


<%= link_to 'Back', winds_path %>
