<!DOCTYPE html>
<html>
<head>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
	<![endif]-->
</head>
<body>
 	<!-- Header for logo -->
	<header class="navbar navbar-fixed-top">
		<!-- Div for logo -->
     			<h1>Legend of the Five Rings database </h1>

     		<div class="container">
     		

     			<ul class="nav navbar-nav navbar-right">

     			<li><%= link_to "Home",   '/' , class: "btn btn-xs btn-default"%></li>
     			<li><%= link_to "Members", users_path, class: "btn btn-xs btn-default"%></li>
	  			<li><%= link_to "Admin", admin_root_path , class: "btn btn-xs btn-default"%></li>
	  		
    			<% if user_signed_in? %>
      				<li><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-xs btn-default") %></li>
      				<br>
      			<li><%= "You are  logged in as #{current_user.email}" %></li>
      			<li><%= link_to 'Wish Lists', wishes_path %></li>
      		<% end %>
    			<% if !user_signed_in? %>
         			<li><%= link_to'Log in', new_user_session_path, class: "btn btn-xs btn-default" %></li>
         		<% end %>
         	</div>
			</ul>      	
    </header>
    <div class="container">
	<%= yield %>
	</div>
	</body>
</html>