<!DOCTYPE html>
<html>
<head>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
	<![endif]-->
</head>
<body>
 	<!-- Header for logo -->
	<header class="navbar navbar-fixed-top">
	<%= link_to "Thunderdome" ,'#', id: "ginger_logo" %>
		<!-- Div for nav bar -->
     		<div class="container">
     			<ul class="nav navbar-nav navbar-right">
     			<li><%= link_to "Home",   '/' , class: "btn btn-lg btn-primary"%></li>
	  			<li><%= link_to "Admin", admin_root_path , class: "btn btn-lg btn-primary"%></li>
	  		
    			<% if user_signed_in? %>
      				<li><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-lg btn-primary") %></li>
      				<li><%= "You are  logged in as #{current_user.email}" %></li>
      			<% end %>
    			
    			<% if !user_signed_in? %>
         			<li><%= link_to'Log in', new_user_session_path, class: "btn btn-lg btn-primary" %></li>
         		<% end %>
         	</div>
				</ul>      	
    </header>
    <div id="main-container" class="container">
    	<div class="row">
    		<!-- To be used for sidebar -->
    		<div class="col-xs-3">
    			<!-- Table title -->
    			<%= yield(:attr_table_title) %>
    		</div>
    		<!-- Main table for content -->
    		<div class="col-xs-9">
    			<table class="table">
    				<%= yield(:attr_table) %>
    			</table>
    			<!--%=# yield %-->

    		</div>
    		</div>
    		</div>
    		</div>
    		</header>
    		</body>
    		</html>