<!DOCTYPE html>
<html>
<head>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
	<![endif]-->
</head>
<body>
 	<!-- Header for logo -->
	<header class="navbar navbar-fixed-top">
		<!-- Div for nav bar -->
     		<div class="container">
     			<ul class="nav navbar-nav navbar-right">
     			<li><%= link_to "Home",   '/' , class: "btn btn-primary"%></li>
	  			<li><%= link_to "Admin", admin_root_path , class: "btn btn-primary"%></li>
    			<% if user_signed_in? %>
      				<li><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-primary") %></li>
      				<li><%= "You are  logged in as #{current_user.email}" %></li>
      			<% end %>
    			
    			<% if !user_signed_in? %>
         			<li><%= link_to'Log in', new_user_session_path, class: "btn btn-primary" %></li>
         		<% end %>
                </ul>       
         	</div>		
        
    </header>
    <!--div id="main-container" class="container"-->
    <div class="container-fluid">
            <div class="row">
                    <div class="col-xs-9">
                            <!-- Main table for content -->
                            <%=yield%>
                    </div>
                    <div class="col-xs-3">
                          <!-- Sidebar -->
                          <%= link_to "Thunderdome" , root_path, id: "ginger_logo", class:"btn btn-primary btn-lg btn-block" %>
                          <%= link_to "Member List", users_path, class:"btn btn-primary btn-lg btn-block" %>
                    </div>
            </div>
    </div>
</body>
</html>