<p id="notice"><%= notice %></p>
<% provide(:title, @event.title) %>
<% provide(:panel_title, @event.title)%>

<div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
<p>
  <strong>Type:</strong>
  <%= type_title(@event.typeID) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
</div>
<%if user_signed_in?%>
<div class="col-lg-8">
<%= render 'add_event_wish' %>
</div>
<%end%>
<div class="col-xs-8">
<hr>        
<%= link_to 'Back', events_path %>
</div>
</div>
</div>