<%= form_for(@monk_shugenja_attachment) do |f| %>
  <% if @monk_shugenja_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monk_shugenja_attachment.errors.count, "error") %> prohibited this monk_shugenja_attachment from being saved:</h2>

      <ul>
      <% @monk_shugenja_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :typeID %><br>
    <%= f.number_field :typeID %>
  </div>
  <div class="field">
    <%= f.label :goldCost %><br>
    <%= f.number_field :goldCost %>
  </div>
  <div class="field">
    <%= f.label :keywords %><br>
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :focus %><br>
    <%= f.number_field :focus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
