
<% provide(:title, @follower.title) %>
<% provide(:panel_title, @follower.title)%>

<div class="container-fluid">
        <div class="row">
            <div class="col-lg-8"><p>
  <strong>Type</strong>
  <%= type_title(@follower.typeID) %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @follower.strength %>
</p>

<p>
  <strong>Chi:</strong>
  <%= @follower.chi %>
</p>

<p>
  <strong>Personal Honor:</strong>
  <%= @follower.personalHonor %>
</p>

<p>
  <strong>Gold Cost:</strong>
  <%= @follower.goldCost %>
</p>

<p>
  <strong>Honor Requirement:</strong>
  <%= @follower.honorRequirement %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @follower.keywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @follower.description %>
</p>

<p>
  <strong>Focus:</strong>
  <%= @follower.focus %>
</p>

</div>
<%if user_signed_in?%>
<div class="col-lg-8">
<%= render 'add_follower_wish' %>
</div>
<%end%>
<div class="col-xs-8">
<hr>
<%= link_to 'Back', followers_path %>
</div>
</div>
</div>