<p id="notice"><%= notice %></p>
<% provide(:title, "Personalities") %>

<div class="container-fluid">
  <% provide(:panel_title, "Personalities") %>
  <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Strength</th>
      <th>Chi</th>
      <th>Gold Cost</th>
      <th>Family Honor Req'd</th>
      <th>Personal Honor</th>
      <th>Keywords</th>
      <th>Description</th>
      <th>Clan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personalities.each do |personality| %>
      <tr>
        <td><%= personality.title %></td>
        <td><%= type_title(personality.typeID) %></td>
        <td><%= personality.strength %></td>
        <td><%= personality.chi %></td>
        <td><%= personality.goldCost %></td>
        <td><%= personality.familyHonorRequirement %></td>
        <td><%= personality.personalHonor %></td>
        <td><%= personality.keywords %></td>
        <td><%= personality.description %></td>
        <td><%= personality.clan %></td>
        <td><%= link_to 'Show', personality %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>