<p id="notice"><%= notice %></p>
<% provide(:title, @personality.title) %>
<% provide(:panel_title, @personality.title)%>
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
<p>
  <strong>Type:</strong>
  <%= type_title(@personality.typeID) %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @personality.strength %>
</p>

<p>
  <strong>Chi:</strong>
  <%= @personality.chi %>
</p>

<p>
  <strong>Gold Cost:</strong>
  <%= @personality.goldCost %>
</p>

<p>
  <strong>Family Honor Req'd:</strong>
  <%= @personality.familyHonorRequirement %>
</p>

<p>
  <strong>Personal Honor:</strong>
  <%= @personality.personalHonor %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @personality.keywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @personality.description %>
</p>

<p>
  <strong>Clan:</strong>
  <%= @personality.clan %>
</p>

</div>
<%if user_signed_in?%>
<div class="col-lg-8">
<%= render 'add_personality_wish' %>
</div>
<%end%>
<hr> 
<div class="col-xs-8">      
<%= link_to 'Back', personalities_path %>
</div>
</div>
</div>