<p id="notice"><%= notice %></p>
<% provide(:title, "Holdings") %>

<div class="container-fluid">
  <% provide(:panel_title, "Holdings") %>
  <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Gold Cost</th>
      <th>Gold Production</th>
      <th>Honor Production</th>
      <th>Keywords</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @holdings.each do |holding| %>
      <tr>
        <td><%= holding.title %></td>
        <td><%= type_title(holding.typeID)%></td>
        <td><%= holding.goldCost %></td>
        <td><%= holding.goldProduction %></td>
        <td><%= holding.honorProduction %></td>
        <td><%= holding.keywords %></td>
        <td><%= holding.description %></td>
        <td><%= link_to 'Show', holding %></td>

      </tr>
    <% end %>
  </tbody>
</table></div>