<p id="notice"><%= notice %></p>
<% provide(:title, @holding.title) %>
<% provide(:panel_title, @holding.title)%>
<div class="container-fluid">

<p>
  <strong>Type:</strong>
  <%= type_title(@holding.typeID) %>
</p>

<p>
  <strong>Gold Cost:</strong>
  <%= @holding.goldCost %>
</p>

<p>
  <strong>Gold Production:</strong>
  <%= @holding.goldProduction %>
</p>

<p>
  <strong>Honor Production:</strong>
  <%= @holding.honorProduction %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @holding.keywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @holding.description %>
</p>


<%= link_to 'Back', holdings_path %>
</div>