<p id="notice"><%= notice %></p>
<% provide(:title, "Strongholds") %>

<div class="container-fluid">
  <% provide(:panel_title, "Strongholds") %>
  <table class="table table-striped table-bordered">

  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Province Strength</th>
      <th>Family Honor</th>
      <th>Gold Production</th>
      <th>Keywords</th>
      <th>Description</th>
      <th>Clan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @strongholds.each do |stronghold| %>
      <tr>
        <td><%= stronghold.title %></td>
        <td><%= type_title(stronghold.typeID) %></td>
        <td><%= stronghold.provinceStrength %></td>
        <td><%= stronghold.familyHonor %></td>
        <td><%= stronghold.goldProduction %></td>
        <td><%= stronghold.keywords %></td>
        <td><%= stronghold.description %></td>
        <td><%= stronghold.clan %></td>
        <td><%= link_to 'Show', stronghold %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>