<p id="notice"><%= notice %></p>

<h1>Listing Strongholds</h1>



<%= form_tag(strongholds_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Strongholds" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
<br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Typeid</th>
      <th>Provincestrength</th>
      <th>Familyhonor</th>
      <th>Goldproduction</th>
      <th>Keywords</th>
      <th>Description</th>
      <th>Clan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @strongholds.each do |stronghold| %>
      <tr>
        <td><%= stronghold.title %></td>
        <td><%= stronghold.typeID %></td>
        <td><%= stronghold.provinceStrength %></td>
        <td><%= stronghold.familyHonor %></td>
        <td><%= stronghold.goldProduction %></td>
        <td><%= stronghold.keywords %></td>
        <td><%= stronghold.description %></td>
        <td><%= stronghold.clan %></td>
        <td><%= link_to 'Show', stronghold %></td>

    <% end %>
  </tbody>
</table>

<br>
