<p id="notice"><%= notice %></p>
<% provide(:title, @stronghold.title) %>
<% provide(:panel_title, @stronghold.title)%>
<div class="container-fluid">
<p>
  <strong>Type:</strong>
  <%= type_title(@stronghold.typeID) %>
</p>

<p>
  <strong>Province Strength:</strong>
  <%= @stronghold.provinceStrength %>
</p>

<p>
  <strong>Family Honor:</strong>
  <%= @stronghold.familyHonor %>
</p>

<p>
  <strong>Gold Production:</strong>
  <%= @stronghold.goldProduction %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @stronghold.keywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stronghold.description %>
</p>

<p>
  <strong>Clan:</strong>
  <%= @stronghold.clan %>
</p>


<%= link_to 'Back', strongholds_path %>
</div>