<% provide(:title, "Welcome to Thunderdome, Bitch!") %>
<!--
<!DOCTYPE html>
<html>
<body-->
<% provide(:jumbotron, '
    <p>Legend of the Five Rings Database</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
'.html_safe)%>
<div class="container"
<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<!--<tr>-->
				<th>Searchable Card Attributes</th>
				<th colspan="2"></th>
			<!--</tr>-->
		</thead>
		<tbody>
			<!--
			<%#<%@tables.each do |table| %>
			<%#<td><%= link_to 'Edit', edit_table_path(table) %>
			-->
			<tr>
				<td> Actions </td>
				<td><%= link_to 'View all Actions', acts_path %></td>
			</tr>
			<tr>
 				<td> Attachments </td>
				<td><%= link_to 'View all Attachments', attachments_path %></td>
			</tr>
			<tr>
				<td> Events </td>
				<td><%= link_to 'View all Events', events_path %></td>
			</tr>
			<tr>
				<td> Followers </td>
				<td><%= link_to 'View all Followers', followers_path %></td>
			</tr>
			<tr>
				<td> Holdings </td>
				<td><%= link_to 'View all Holdings', holdings_path %></td>
			</tr>
			<tr>
				<td> Monk-Shugenja Attachments </td>
				<td><%= link_to 'View all Monk-Shugenja Attachments', monk_shugenja_attachments_path %></td>
			</tr>
			<tr>
				<td> Personalities </td>
				<td><%= link_to 'View all Personalities', personalities_path %></td>
			</tr>
			<tr>
				<td> Regions </td>
				<td><%= link_to 'View all Regions', regions_path %></td>
			</tr>
			<tr>
				<td> Rings </td>
				<td><%= link_to 'View all Rings', rings_path %></td>
			</tr>
			<tr>
				<td> Senseis </td>
				<td><%= link_to 'View all Senseis', senseis_path %></td>
			</tr>
			<tr>
				<td> Strongholds </td>
				<td><%= link_to 'View all Strongholds', strongholds_path %></td>
			</tr>
			<tr>
				<td> Types </td>
				<td><%= link_to 'View all Types', types_path %></td>
			</tr>
			<tr>
				<td> Winds </td>
				<td><%= link_to 'View all Winds', winds_path %></td>
			</tr>
			<%# end %>
		</tbody>
	</table>
</div>
<!--/body>
</html>