<%= form_for(@follower) do |f| %>
  <% if @follower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@follower.errors.count, "error") %> prohibited this follower from being saved:</h2>

      <ul>
      <% @follower.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :typeID %><br>
    <%= f.number_field :typeID %>
  </div>
  <div class="field">
    <%= f.label :strength %><br>
    <%= f.number_field :strength %>
  </div>
  <div class="field">
    <%= f.label :chi %><br>
    <%= f.number_field :chi %>
  </div>
  <div class="field">
    <%= f.label :personalHonor %><br>
    <%= f.number_field :personalHonor %>
  </div>
  <div class="field">
    <%= f.label :goldCost %><br>
    <%= f.number_field :goldCost %>
  </div>
  <div class="field">
    <%= f.label :honorRequirement %><br>
    <%= f.number_field :honorRequirement %>
  </div>
  <div class="field">
    <%= f.label :keywords %><br>
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :focus %><br>
    <%= f.number_field :focus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
