<p id="notice"><%= notice %></p>
<% provide(:title, "Wishes") %>


<div class="container-fluid">
  <% provide(:panel_title, "Wishes") %>
  <table class="table table-striped table-bordered">
  <thead>
    <tr>
    <th>Requester's Email</th>  
    <th>Card Title</th>
    <th>Wish Notes</th>
    <th>View Card</th>
    <th>View Wish</th>
    <th>Edit Wish</th>
    <th>Delete Wish</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wishes.each do |wish| %>
      <tr>
       <td><%= wish.email %></td> 
       <td><%= wish.title %></td>
       <td><%= wish.notes%></td>
       <td><%= link_to 'Card', wish.url%></td>
        <td><%= link_to 'Show', wish %></td>
        <td><%= link_to 'Edit', edit_wish_path(wish) %></td>
        <td><%= link_to 'Destroy', wish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if user_signed_in?%>
<%= link_to 'New Wish', new_wish_path %>
<%end%>