<p id="notice"><%= notice %></p>

<h1>Listing Senseis</h1>



<%= form_tag(senseis_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Senseis" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
<br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Typeid</th>
      <th>Provincestrength</th>
      <th>Goldproduction</th>
      <th>Familyhonor</th>
      <th>Keywords</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @senseis.each do |sensei| %>
      <tr>
        <td><%= sensei.title %></td>
        <td><%= sensei.typeID %></td>
        <td><%= sensei.provinceStrength %></td>
        <td><%= sensei.goldProduction %></td>
        <td><%= sensei.familyHonor %></td>
        <td><%= sensei.keywords %></td>
        <td><%= sensei.description %></td>
        <td><%= link_to 'Show', sensei %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
