<p id="notice"><%= notice %></p>
<% provide(:title, "Senseis") %>

<div class="container-fluid">
  <% provide(:panel_title, "Senseis") %>
  <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Province Strength</th>
      <th>Gold Production</th>
      <th>Family Honor</th>
      <th>Keywords</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @senseis.each do |sensei| %>
      <tr>
        <td><%= sensei.title %></td>
        <td><%= type_title(sensei.typeID) %></td>
        <td><%= sensei.provinceStrength %></td>
        <td><%= sensei.goldProduction %></td>
        <td><%= sensei.familyHonor %></td>
        <td><%= sensei.keywords %></td>
        <td><%= sensei.description %></td>
        <td><%= link_to 'Show', sensei %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>