<p id="notice"><%= notice %></p>
<% provide(:title, @sensei.title) %>
<% provide(:panel_title, @sensei.title)%>

<div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
<p>
  <strong>Type:</strong>
  <%= type_title(@sensei.typeID) %>
</p>

<p>
  <strong>Province Strength:</strong>
  <%= @sensei.provinceStrength %>
</p>

<p>
  <strong>Gold Production:</strong>
  <%= @sensei.goldProduction %>
</p>

<p>
  <strong>Family Honor:</strong>
  <%= @sensei.familyHonor %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @sensei.keywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sensei.description %>
</p>
</div>
<%if user_signed_in?%>
<div class="col-lg-8">
<%= render 'add_sensei_wish' %>
</div>
<%end%>
<div class="col-xs-8">
<hr>        
<%= link_to 'Back', senseis_path %>
</div>
</div>
</div>