<p id="notice"><%= notice %></p>

<h1>Listing Rings</h1>

<%= form_tag(rings_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Rings" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
<br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Typeid</th>
      <th>Keywords</th>
      <th>Description</th>
      <th>Focus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rings.each do |ring| %>
      <tr>
        <td><%= ring.title %></td>
        <td><%= ring.typeID %></td>
        <td><%= ring.keywords %></td>
        <td><%= ring.description %></td>
        <td><%= ring.focus %></td>
        <td><%= link_to 'Show', ring %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
