<p id="notice"><%= notice %></p>
<% provide(:title, "Rings") %>

<div class="container-fluid">
  <% provide(:panel_title, "Rings") %>
  <table class="table table-striped table-bordered">

  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Keywords</th>
      <th>Description</th>
      <th>Focus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rings.each do |ring| %>
      <tr>
        <td><%= ring.title %></td>
        <td><%= type_title(ring.typeID)%></td>
        <td><%= ring.keywords %></td>
        <td><%= ring.description %></td>
        <td><%= ring.focus %></td>
        <td><%= link_to 'Show', ring %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
