<p id="notice"><%= notice %></p>
<% provide(:title, @ring.title) %>
<% provide(:panel_title, @ring.title)%>
<div class="container-fluid">
<p>
  <strong>Typeid:</strong>
  <%= type_title(@ring.typeID) %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @ring.keywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ring.description %>
</p>

<p>
  <strong>Focus:</strong>
  <%= @ring.focus %>
</p>


<%= link_to 'Back', rings_path %>
</div>