<p id="notice"><%= notice %></p>
<% provide(:title, @region.title) %>
<% provide(:panel_title, @region.title)%>
<div class="container-fluid">
<p>
  <strong>Type:</strong>
  <%= type_title(region.typeID) %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @region.keywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @region.description %>
</p>


<%= link_to 'Back', regions_path %>
</div>