
<% provide(:title, @monk_shugenja_attachment.title) %>
<% provide(:panel_title, @monk_shugenja_attachment.title)%>

<div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">

<p>
  <strong>Type:</strong>
  <%= type_title(@monk_shugenja_attachment.typeID) %>
</p>

<p>
  <strong>Gold Cost:</strong>
  <%= @monk_shugenja_attachment.goldCost %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @monk_shugenja_attachment.keywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @monk_shugenja_attachment.description %>
</p>

<p>
  <strong>Focus:</strong>
  <%= @monk_shugenja_attachment.focus %>
</p>
</div>
<%if user_signed_in?%>
<div class="col-lg-8">
<%= render 'add_monk_wish' %>
</div>
<%end%>
<div class="col-xs-8">
<hr>        

<%= link_to 'Back', monk_shugenja_attachments_path %>
</div>
</div>
</div>