<%@wish = Wish.new %>
<%= form_for(@wish) do |f| %>
  <% if @wish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wish.errors.count, "error") %> prohibited this wish from being saved:</h2>
      <ul>
      <% @wish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- disabled: true -->
    
  <div class="field">
    <%= f.hidden_field :title, value: @act.title %>
  </div>
  <div class="field">
    <%= f.hidden_field :url, value: act_url(@act) %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.hidden_field(:email, value: current_user.email) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%end%>