<% provide(:title, @act.title) %>
<% provide(:panel_title, @act.title)%>

<div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
<p>
  <strong>Type:</strong>
  <%= type_title(@act.typeID) %>
</p>
<p>
  <strong>Gold Cost:</strong>
  <%= @act.goldCost %>
</p>
<p>
  <strong>Keywords:</strong>
  <%= @act.keywords %>
</p>
<p>
  <strong>Description:</strong>
  <%= @act.description %>
</p>
<p>
  <strong>Focus:</strong>
  <%= @act.focus %>
</p>
</div>
<%if user_signed_in?%>
<div class="col-lg-8">
<%= render 'add_act_wish' %>
</div>
<%end%>
<div class="col-xs-8">
<hr>        
<%= link_to 'Back', acts_path %>
</div>
</div>
</div>