<p id="notice"><%= notice %></p>
<% provide(:title, @act.title) %>
<% provide(:panel_title, @act.title)%>
<div class="container-fluid">
<p>
  <strong>Type:</strong>
  <%= type_title(@act.typeID) %>
</p>

<p>
  <strong>Gold Cost:</strong>
  <%= @act.goldCost %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @act.keywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @act.description %>
</p>

<p>
  <strong>Focus:</strong>
  <%= @act.focus %>
</p>
<hr>
<%= link_to 'Back', acts_path %>
</div>

