<% provide(:title, "Attachments") %>

<div class="container-fluid">
  <% provide(:panel_title, "Attachments") %>
  <hr>
  <%= render 'search' %>
  <hr>
  <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Strength</th>
      <th>Chi</th>
      <th>Gold Cost</th>
      <th>Keywords</th>
      <th>Description</th>
      <th>Focus</th>
      <!--th colspan="3"></th-->
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.title %></td>
        <td><%= type_title(attachment.typeID) %></td>
        <td><%= attachment.strength %></td>
        <td><%= attachment.chi %></td>
        <td><%= attachment.goldCost %></td>
        <td><%= attachment.keywords %></td>
        <td><%= attachment.description %></td>
        <td><%= attachment.focus %></td>
        <td><%= link_to 'Show', attachment %></td>
     
      </tr>
    <% end %>
  </tbody>
</table>
</div>