<p id="notice"><%= notice %></p>
<% provide(:title, @attachment.title) %>
<% provide(:panel_title, @attachment.title)%>
<div class="container-fluid">
<p>
  <strong>Type:</strong>
  <%= type_title(@attachment.typeID) %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @attachment.strength %>
</p>

<p>
  <strong>Chi:</strong>
  <%= @attachment.chi %>
</p>

<p>
  <strong>Gold Cost:</strong>
  <%= @attachment.goldCost %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @attachment.keywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attachment.description %>
</p>

<p>
  <strong>Focus:</strong>
  <%= @attachment.focus %>
</p>

<%= link_to 'Back', attachments_path %>
</div>